.image{
    width:180px;
    height: 240px;
}
.card{
    width: 200px;
    height: 420px;
    box-shadow: 1px 4px 3px lightgray;
    border-radius: 10px;
    margin: 15px;
}
.card p{
text-align: center;

height: 50px;
}
.card h3{
    text-align: center;

}
.card:hover{
    box-shadow:2px 5px 4px rgb(58, 58, 58) ;
    transition: all 0.6s;
    cursor: pointer;
}
.card-btn{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(219, 213, 206);
    
}
.card-btn:hover{
    cursor: pointer;
    background-color: rgb(185, 152, 124);
    color: #fff;
    transition: all 0.6s;
}